{% extends "base.html" %}

{% block content %}

<div class="row mt-5">
  <div class="col-12">
    {% if visits == 1 %}
      <h1> Welcome to Starlight! </h1>
    {% else %}
      <h1> Welcome back to Starlight! </h1>
    {% endif %}

      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1bO1bZic2xef-jbOKXGmDZkYy6kFscVxNh_j44IdxYZgBN4xJ" alt="user-pic">

        <p>
          Email: {{email}}
        </p>

        <p>
          Password: {{password}}
        </p>

        <p>
          <a href="{{url_for('logout')}}">Logout</a>
        </p>
  </div>

</div>
{% endblock %}
